.choose {
	height: 100%;
}

.choose__new {
	margin: 0;
	margin-left: auto;
	width: 15%;
}

.choose__header {
	display: flex;
	height: 10%;
	justify-content: center;
	align-items: center;
	line-height: 300%;
	padding-bottom: 10px;
	border-bottom: 1px solid #161b22;
}

.choose__main {
	height: 90%;
}

.timetable__li {
	display: flex;
	list-style: none;
	background-color: #181a1d;
	padding: 5px 20px 5px 5px;
	margin: 10px 0px;
	border-radius: 10px;
	transition: 0.2s all;
	overflow: hidden;
}

.timetable__li:last-child {
	margin-bottom: 0;
}

.timetable__li:hover {
	background-color: #25272e;
	transition: 0.2s all;
}

.content__li-container {
	flex: 10;
}

.timetable__li-link {
	display: flex;
	height: 100%;
	padding: 10px 20px;
	align-items: center;
	color: rgb(231, 231, 231);
	font-size: 2vmin;
}

div.li__name {
	flex: 8;
}

input.li__name-input {
	background-color: transparent;
	border: none;
	color: #eeeeee;
}

div.li__time {
	flex: 2;
	font-size: 2vmin;
	color: #999999;
}

.btn__li {
	position: relative;
	height: 100% !important;
	width: 2%;
	margin: 2px;
}

/* confirm alert re-style */
.react-confirm-alert-overlay {
	background: rgba(78, 78, 78, 0.9) !important;
}

.react-confirm-alert-body {
	background-color: rgb(29, 29, 29) !important;
	font-size: 13px !important;
	color: #f1f1f1 !important;
}

.react-confirm-alert-button-group {
	justify-content: space-evenly !important;
}

.react-confirm-alert-button-group > button {
	width: 50%;
	height: 50px;
	font-size: 2vmin;
	transition: 0.2s all !important;
}

.react-confirm-alert-button-group > button.confirm__cancel:hover {
	background-color: rgb(126, 126, 126) !important;
}

.link__disable {
	pointer-events: none;
}
