.button {
	display: block;
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #21262d;
	border: 1px solid #30363d;
	font-size: 2vmin;
	transition: 0.25s all;
	color: white;
	margin-bottom: 10px;
	cursor: pointer;
}

.button:hover {
	border-color: #656270;
	background-color: #252a31;
	transition: 0.25s all;
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(44, 44, 44, 0.8);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(44, 44, 44, 0.8);
	box-shadow: inset 0px 0px 3px 1px rgba(44, 44, 44, 0.8);
}

.sign-out {
	margin: auto;
	color: #f13a31;
	font-weight: 600;
	font-size: calc(2vmin + 2px);
	transition: 0.3s all;
}

.sign-out:hover {
	background-color: #f13a31;
	border-color: #f74c43;
	color: white;
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(173, 53, 53, 0.8);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(173, 53, 53, 0.8);
	box-shadow: inset 0px 0px 3px 1px rgba(173, 53, 53, 0.8);
	transition: 0.3s all;
}

.sign-in {
	margin: 0;
	border: none;
	background-color: transparent;
	font-size: 16px;
	color: #78b5f7;
	border-radius: 100px;
}
