.main-container {
	flex: 8;
	outline: none;
	min-height: 100%;
	padding: 20px 15px;
	overflow: auto;
}

.main-content {
	/* padding: 20px 10px; */
	flex: 1;
	min-height: 100%;
	background-color: #06090f;
}

table,
th,
td {
	border: 1px solid white;
	border-collapse: collapse;
	text-align: center;
}

td {
	font-size: 2.1vmin;
	height: 25px;
}

#time-table__table {
	width: 100%;
}
/* 
#myTable {
    transform:rotate(270deg);
}

#myTable td {
	transform: rotate(-270deg);
	width: 30px;
	height: 90px;
} */
