.navbar {
	background-color: #161b22;
	color: #f0f0f0;
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 100%;
	padding: 0 10px;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.2rem;
	position: fixed;
	z-index: 99;
}

.navbar-mainmenu {
	height: 45px;
	width: 45px;
	margin-right: 20px;
	border-radius: 100px;
	text-align: center;
	cursor: pointer;
}

.navbar-mainmenu > * {
	position: relative;
	font-size: 16px !important;
	color: white;
}

.navbar-mainmenu:hover {
	background-color: #232a33 !important;
}

.sign-in-container {
	/* push element and element behind it
	to the far right in flex display */
	margin-left: auto;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	user-select: none;
}

img.nav-avatar {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	user-select: none;
	margin: auto;
	-webkit-box-shadow: 0px 0px 7px 0px #222222;
	-moz-box-shadow: 0px 0px 7px 0px #222222;
	box-shadow: 0px 0px 7px 0px #222222;
	user-select: none;
}

img.nav-avatar:hover {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(107, 107, 107, 1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(107, 107, 107, 1);
	box-shadow: 0px 0px 7px 0px rgba(107, 107, 107, 1);
}

.big-avatar-container {
	width: 100%;
	min-height: 130px;
}

.big-avatar-container > img {
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
	border-radius: 1000px;
}

#nav__module {
	position: absolute;
	display: relative;
	min-width: 300px;
	width: 20%;
	right: 10px;
	top: 55px;
	padding: 20px;
	background-color: #161b22;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	z-index: 999;
	/* show module */
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.1s;
}

#nav__module.hide {
	/* hide module */
	/* visibility: hidden; */
	opacity: 0;
	user-select: none;
	pointer-events: none;
	transition: opacity 1s;
}

.display-name {
	font-size: 20px;
}

.display-email {
	font-size: 16px;
	color: #e6e3e3;
}

#module-info-sect {
	padding: 10px 0 20px;
	text-align: center;
}

#module-info-sect::after {
	content: "";
	display: block;
	height: 0.5px;
	width: 100%;
	margin-top: 20px;
	background: rgb(202, 202, 202);
}

#module-signout-sect {
	display: flex;
}

#module-signout-sect div {
	width: 50%;
}

#module-signout-sect div:first-child {
	margin-right: 3px;
}
#module-signout-sect div:last-child {
	margin-left: 3px;
}

.module-btn {
	font-size: calc(2vmin + 1px);
	font-weight: 600;
	height: 100%;
	width: 100%;
	padding: 5px 10px;
}
