.loading {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Cells that can be interacted with */
.table-drag-select td.cell-enabled {
	color: #806e52;
	background-color: #fbf1e8;
}

/* Cells that have been selected */
.table-drag-select td.cell-selected {
	background-color: #fbd5d4;
}

/* Cells that are in the process of being selected */
.table-drag-select td.cell-being-selected {
	background-color: #eaca96;
}

/* Cells in first row */
.table-drag-select tr:first-child td {
	/* Remove empty space at top of table */
	border-top: 0;
	line-height: 1rem;
}

/* Cells in first column */
.table-drag-select td:first-child {
	/* Consume less whitespace */
	width: 3rem;
}
