html {
	background-color: #0d1117;
	color: white;
	--scrollbarBG: #0d1117;
	--thumbBG: #f0f0f0;
	height: 100%;
	width: 100%;
}

body {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	/* height: calc(100% - 50px); */
}

body::-webkit-scrollbar {
	width: 11px;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}

main {
	display: flex;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	background-color: #06090f;
}
